<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <div class="welcome-image">
        <img src="../../../assets/img/icons/chat_100.png" alt="">
      </div>
      <div class="header">
        <h2>Welcome to Boom</h2>
        <h4>Make voice and video calls with your friends in high quality</h4>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <a routerLink="login" class="btn btn-radius btn-purple">Login</a>
    </div>
    <div class="col-md-3">
      <a routerLink="register" class="btn btn-radius btn-purple">Register</a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>